<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>Categories/Readym</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-expand-sm">
        <div class="container-fluid">
            <a class="navbar-brand ms-5" href="/index">
                <div class="logo">
                    <img src="./images/readym.png" width="170px" alt="" class="logo-img">
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <li><a class="nav-link" href="index.html">Home</a></li>
                    <!-- dropdown -->
                    <li class="dropdown">
                        <div class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">English</a>

                            <div class="dropdown-content">
                                <a href="#" class="mb-2">Spanish</a>
                                <a href="#" class="mb-2">French</a>
                                <a href="#" class="mb-2">Germany</a>
                                <a href="#">Japanese</a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">

                        <div class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle orange" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Category</a>
                            <div class="dropdown-content">
                                <a href="#" class="mb-3">Fiction</a>
                                <a href="#" class="mb-3">Comics</a>
                                <a href="#" class="mb-3">Horror</a>
                                <a href="#" class="mb-3">Adventure</a>
                                <a href="#" class="mb-3">Non-fiction</a>
                                <a href="#" class="mb-3">Tragedy</a>
                                <a href="#">Poem</a>
                            </div>
                        </div>
                    </li>


                    <li><a class="nav-link active" aria-current="page" href="community.html">Community</a></li>
                    <li><a class="nav-link orange" href="library.html">Collections</a></li>
                    <li><a class="nav-link" href="about.html">About Us</a></li>
                    <a class="btn button-1 me-5" href="#" role="button">Get Started</a>


                </div>
            </div>
        </div>
    </nav>

    </header>
    <section class="container-fluid contain-space">
        <div class="input-group input-2">
            <input type="text" class="form-control input-2a" placeholder="Search by author, title or series"
                aria-label="Username" aria-describedby="basic-addon1">
            <span class="input-group-text span1 span-3a" id="basic-addon1"><i class="fa-solid fa-microphone"></i></span>
            <span class="input-group-text span1 span-3a" id="basic-addon1"><i
                    class="fa-solid fa-magnifying-glass"></i></span>
        </div>
    </section>


    <main>
        <section class="section-5 section-dup">

            <div class="d-flex flex-lg-row flex-sm-column  div-books">
                <div class="flex-fill div-books1">

                    <div class="img1">
                        <img src="./images1/w.jpg" alt="books">
                    </div>
                    <a href="overview.html">
                        <div class="download-now">
                            <h4>download-now</h4>
                        </div>
                    </a>
                    <div class="mt-2">

                    </div>

                </div>
                <div class="flex-fill div-books1">
                    <div class="img1">
                        <img src="./images1/people.jpg" alt="books">
                    </div>
                    <div class="download-now">
                        <h4>download-now</h4>
                    </div>
                    <div class="mt-2">

                    </div>

                </div>
                <div class="flex-fill div-books1">
                    <div class="img1">
                        <img src="./images1/malibu.jpg" alt="books">
                    </div>
                    <div class="download-now">
                        <h4>download-now</h4>

                    </div>
                    <div class="mt-2">

                    </div>

                </div>
                <div class="flex-fill div-books1a">
                    <div class="img1">
                        <img src="./images1/sally.jpg" alt="books">
                    </div>
                    <div class="download-now">
                        <h4>download-now</h4>
                    </div>
                    <div class="mt-2">

                    </div>

                </div>
            </div>


        </section>

        <section class="section-6 section-dup">

            <div class="d-flex flex-lg-row flex-sm-column  div-books">
                <div class="flex-fill div-books1">

                    <div class="img1">
                        <img src="./images1/avengers-marvel.jpg" alt="books">
                    </div>
                    <div class="download-now">
                        <h4>download-now</h4>
                    </div>
                    <div class="mt-2">

                    </div>

                </div>
                <div class="flex-fill div-books1">
                    <div class="img1">
                        <img src="./images1/wonder.webp" alt="books">
                    </div>
                    <div class="download-now">
                        <h4>download-now</h4>
                    </div>
                    <div class="mt-2">

                    </div>

                </div>
                <div class="flex-fill div-books1">
                    <div class="img1">
                        <img src="./images1/download (6).jpg" alt="books">
                    </div>
                    <div class="download-now">
                        <h4>download-now</h4>

                    </div>
                    <div class="mt-2">

                    </div>

                </div>
                <div class="flex-fill div-books1a">
                    <div class="img1">
                        <img src="./images1/download (7).jpg" alt="books">
                    </div>
                    <div class="download-now">
                        <h4>download-now</h4>
                    </div>
                    <div class="mt-2">

                    </div>

                </div>
            </div>


        </section>

        <section class="section-4 section-dup">
            <div class="d-flex flex-lg-row flex-sm-column  div-books">
                <div class="flex-fill div-books1">

                    <div class="img1">
                        <img src="./images1/download.jpg" alt="books">
                    </div>
                    <div class="download-now">
                        <h4>download-now</h4>
                    </div>
                    <div class="mt-2">

                    </div>

                </div>
                <div class="flex-fill div-books1">
                    <div class="img1">
                        <img src="./images1/download (3).jpg" alt="books">
                    </div>
                    <div class="download-now">
                        <h4>download-now</h4>
                    </div>
                    <div class="mt-2">

                    </div>

                </div>
                <div class="flex-fill div-books1">
                    <div class="img1">
                        <img src="./images1/download (4).jpg" alt="books">
                    </div>
                    <div class="download-now">
                        <h4>download-now</h4>

                    </div>
                    <div class="mt-2">

                    </div>

                </div>
                <div class="flex-fill div-books1a">
                    <div class="img1">
                        <img src="./images1/download (5).jpg" alt="books">
                    </div>
                    <div class="download-now">
                        <h4>download-now</h4>
                    </div>
                    <div class="mt-2">

                    </div>

                </div>
            </div>


        </section>
        <section class="section-5 section-dup">

            <div class="d-flex flex-lg-row flex-sm-column  div-books">
                <div class="flex-fill div-books1">

                    <div class="img1">
                        <img src="./images1/people.jpg" alt="books">
                    </div>
                    <div class="download-now">
                        <h4>download-now</h4>
                    </div>
                    <div class="mt-2">

                    </div>

                </div>
                <div class="flex-fill div-books1">
                    <div class="img1">
                        <img src="./images1/o.jpg" alt="books">
                    </div>
                    <div class="download-now">
                        <h4>download-now</h4>
                    </div>


                </div>
                <div class="flex-fill div-books1">
                    <div class="img1">
                        <img src="./images1/malibu.jpg" alt="books">
                    </div>
                    <div class="download-now">
                        <h4>download-now</h4>

                    </div>
                    <div class="mt-2">

                    </div>

                </div>
                <div class="flex-fill div-books1a">
                    <div class="img1">
                        <img src="./images1/sally.jpg" alt="books">
                    </div>
                    <div class="download-now">
                        <h4>download-now</h4>
                    </div>
                    <div class="mt-2">

                    </div>

                </div>
            </div>



        </section>
    </main>
    <footer>
        <section class="d-flex flex-lg-row flex-sm-column">
            <section class="flex-fill">
                <h4>Readym</h4>
                <p>
                    Try Readym. <br>
                    It's free, ad-free and easy to use.
                </p>
                <p class="text-muted">
                    Subscribe to get new books
                </p>
                <div class="input-group1 input-group">
                    <input type="text" class="form-control text-white" placeholder="Email Address" aria-label="Email"
                        aria-describedby="basic-addon2">
                    <div class="input-group-prepend">
                        <!-- the san is thatstuff by the side -->
                        <a href="#"><span class="input-group-text Subscribe">
                                Subscribe
                            </span></a>
                    </div>
            </section>
            <section class="flex-fill">
                <h4 class="mb-4">Category</h4>
                <ul>
                    <li><a href="#"> Fiction</a></li>
                    <li><a href="#">Adventure</a> </li>
                    <li><a href="#"> Mystery</a></li>
                    <li><a href="#">Comics</a> </li>
                    <li><a href="#"> Fantasy</a></li>
                    <li><a href="#"> Sci-Fi</a></li>
                </ul>
            </section>
            <section class="flex-fill">
                <h4 class="mb-4">Quick Link</h4>
                <ul>
                    <li><a href="#"> About Us</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">Collections</a></li>
                    <li><a href="#">Teams</a></li>
                </ul>



            </section>
            <section class="flex-fill">
                <h4 class="mb-4">Support</h4>
                <ul>
                    <li><a href="#"> Help center</a></li>
                    <li><a href="#">Terms and condition</a> </li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Partners</a> </li>

                </ul>
            </section>
            <section class="flex-fill">
                <h4 class="mb-4">Contact</h4>
                <ul>
                    <li><a href="#"> ready@gmail.com</a></li>
                    <li><a href="#">+234-654-7652-021</a> </li>
                    <li><a href="#">34 Yaba, Lagos, NG</a></li>
                    <li><a href="#">FAQ</a> </li>

                </ul>
            </section>
        </section>
        <section class="copyright text-center" class="mt-5">
            <div class="column text-dark mb-1 ">
                <i class="fa-brands fa-facebook me-3"></i>
                <i class="fa-brands fa-twitter me-3"></i>
                <i class="fa-brands fa-instagram me-3"></i>
                <i class="fa-brands fa-youtube"></i>

            </div>

            <p> Copyright<i class="fa-regular fa-copyright"></i> 2022 All rights reserved to
                Readym</p>
        </section>


    </footer>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>