<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Readym|Overview </title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- The Overview Section -->
    <section>
        <header>
            <nav>
                <div class="logo">
                    <img src="./images/readym.png" width="170px" alt="" class="logo-img">
                </div>   
                
                <div class="links">
                    <a href="index.html">Home</a>
                    <a href="community.html">Community</a>
                    <a href="">categories</a>
                    <a href=""><span>Get Started</span></a>
                </div>

                <div class="dropdown nav-drop">
                    <a class="btn w-75 dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="true">
                       <span><i class="fa-solid fa-bars"></i></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item link" href="#">Home</a></li>
                      <li><a class="dropdown-item link" href="#">Community</a></li>
                      <li><a class="dropdown-item link" href="#">Categories</a></li>
                      <li><a class="dropdown-item link" href="#">Get Started</a></li>
                      
                    </ul>
                  </div>
               </nav>
        </header>

        <div class="container  overview-info">
            <div class="overview-content">
                
                <div class="second-section w-100">
                    <div class="content-head mt-5">
                        <div class="text">
                            <h5>CHAPTER ONE</h5>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              TRANSLATE
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="#">German</a></li>
                              <li><a class="dropdown-item" href="#">French</a></li>
                              <li><a class="dropdown-item" href="#">Japanese</a></li>
                              <li><a class="dropdown-item" href="#">English</a></li>
                              <li><a class="dropdown-item" href="#">Spanish</a></li>
                              <li><a class="dropdown-item" href="#">Arabic</a></li>
                            </ul>
                          </div>
                    </div>
                    <div class="content-area">
                        <p class="w-75">
                            He wanted to take the champgne to her spot overlooking the hills.
                            "Like a picnic?"Should I pack some food?” “Champagne’s enough. Come on, Bert.” “He listens to you, follows you. I think he likes to because you sneak him food from the table when you think I’m not looking.” 
                        </p>
                        <p class="w-75">
                            “Busted.” She laughed and took his hand. “I like holding your hand when we walk. I like so many things. I like being free. I’m free because of you.” “No, not because of me.” 
                        </p>
                        <p class="w-75">
                            “You’re right, that’s not accurate. I’m free because of us. That’s better.” “You’re still wearing a gun.” “It may take a little time for that.” “It may take me a while to aim one again.” “Brooks.” “It’s done. It worked, so I can tell you, putting you in those crosshairs was the hardest thing I ever did. Even knowing the why, the how, it was like dying.” “You did the hardest thing because you love me.”
                        </p>
                        <button class="btn-secondary mt-3"><a href="buy.html" class="text-decoration-none">DOWNLOAD</a></button>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <footer>
        <div class=" container footer-section">
            <div class="sec-1">
                <h6>Readym</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, sapiente!</p>
                <p>Subscribe to get new books </p>
                <input placeholder="Email Address" type="text"><button class="btn-secondary">Subscribe</button>
            </div>
            <div class="sec-2">
                <h6>Quick Link</h6>
                <a href="" class="row">About Us</a>
                <a href="" class="row">Categories</a>
                <a href="" class="row">Community</a>
                <a href="" class="row">Collections</a>
                <a href="" class="row">Team</a>
            </div>
            <div class="sec-2">
                <h6>Support</h6>
                <a href="" class="row">Help Centre</a>
                <a href="" class="row">Terms and condition</a>
                <a href="" class="row">Privacy</a>
                <a href="" class="row">Partners</a>
                
            </div>
            <div class="sec-2">
                <h6>Contact</h5>
                <p>readym@gmail.com</p>
                <p>+234-654-7652-021</p>
                <p>34, Yaba, Lagos NG, FAQ</p>
            </div>
            
        </div>
    </footer>


    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>