a{
    text-decoration: none;
}
.nav-link{
    margin-right: 20px;
    font-weight: 500;
    font-size: 16px;
}

.navbar{
    height:  100px;
    width: 100%;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(245, 245, 245, 0.877);
}

.navbar a{
   color: #3b3b3b;
}
.navbar a:hover{
    color: #3C8D44;
 }
main{
    width: 90%;
    margin: auto;
}
.width-100{
    width: 100%;
}



.button-1{
    text-align: center;
    padding-top: 2px;
    padding: 5.5px 15px;
    border-radius: 10px;
    background-color:#3C8D44;
    color: white;
    font-weight: 700;
    height: 2.5rem;

}

a.orange:hover{
    color: #FF7F00;
}

.button-1:hover{
    background-color:#FF7F00;
    ;
    
    color: rgb(99, 95, 95);
}

.dropdown-content{
    display: none;
    position: absolute;
    background: rgba(219, 215, 215, 0.8);
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
    z-index: 1;
   }
   .dropdown-content a{
       color: black;
       padding: 12px 16px;
       display: block;
       
       
   }
   .dropdown-content a:hover{
       background: #3c8d4491;
       color: white;
   }
   .dropdown:hover .dropdown-content{
       display: block;
   }

   .input-1{
       width: 60%;
       margin: 60px auto;
       margin-top: 150px;
       
   }

   

   .input-1a{
    background: #C4C4C4;
    border: #C4C4C4;


   }

   .span1{
    background: #C4C4C4;
    border: #C4C4C4;
   }
.about-container {
    font-family: 'Open Sans';
    margin-top: 10rem;
}
h1 {
    font-weight: bold;
}
h5 {
    margin-bottom: 5rem;
}
 .imagee {
    width: 40rem;
    height: 30rem;
}
.identity-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-left: 30rem;
    /* background-size: contain; */
}
h2 {
    font-weight: bold;
    margin-bottom: 2rem;
}
footer{
    margin-top: 200px;
    background-color: #FF7F00;
    padding: 50px 50px;
    
}

footer a{
    color: #3b3b3b;
    font-size: 16px;

}

footer ul{
    list-style: none;
    padding: 0;
    font-size: 16px;
    color: #575555;

    
}

footer h4{
    font-size: 20px;
    color: #3b3b3b;
   
}




.input-group1{
    width: 80%;
}

.input-group1 input{
    background-color: #575555;
    border: #575555;
}

.input-group1 input::placeholder{
    color: white;
}